/* frontend/src/components/LandingPage.css */
.landing-page {
    background-color: #34495e; /* Darker background */
    color: white; /* White text */
    padding: 50px;
    text-align: center;
}

.landing-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.landing-description {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}